<h2>Show perk</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @perk.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @perk.type %>
  </li>

  <li>
    <strong>Icon uri:</strong>
    <%= @perk.icon_uri %>
  </li>

</ul>

<%= link "Edit", to: perk_path(@conn, :edit, @perk) %>
<%= link "Back", to: perk_path(@conn, :index) %>
