@charset 'utf-8';

@import 'settings';
@import 'node_modules/foundation-sites/scss/foundation.scss';

@include foundation-everything($flex: true);


/*-----------------*
 *  Global Layout  *
 *-----------------*/
body{
  background-color: $grad-end;
}
h1, h2, h3, h4, h5 {
  color: $DH-orange;
}
body{
  max-width: 1200px;
  min-width: 350px;
  margin: auto;
}
.row .row{
    padding: 0;
    margin: 0;
}

.button {
  float: right;
  background-image: $button-grad;
  border: 0.1rem solid $grad-start;
  text-shadow: -1px -1px #000;
  box-shadow: 0px 0px 5px $grad-highlite;
  -webkit-transition: all 0.5s ease-out;  
  -moz-transition: all 0.5s ease-out;  
  -o-transition: all 0.5s ease-out;  
  transition: all 0.5s ease-out;      
}
.button:hover {
  text-shadow: 1px 1px #000;
  box-shadow: 0px 0px 20px #F80;
}

#DH-logo{
  width:100px;
  height: auto;
  //transform: translate(10%, 30%)
}

.DH-box-content {
  border-top: 0.1rem solid $light-gray;
  border-left: 0.1rem solid $light-gray;
  border-right: 0.1rem solid $grad-end;
  border-bottom: 0.1rem solid $grad-end;
  background: $infobox-background;
  padding: 1rem;  
}

/*-----------------*
 *     To Clean    *
 *-----------------*/

div.ship-index img {
  float: right;
}
div.index p {
  margin-bottom: 3rem;
}
div.ship-index p {
  margin-bottom: 3rem;
}

div.ship-index ul {
  margin-bottom: 3rem;
  margin-left: 0;
}

div.ship-info img {
  float: right;
}
li {
  list-style-type: none;
}

table {
  width: auto;
}

div.ship-weapon-info img {
  width: 8rem;
}

div.ship-weapon-info > div {
  border-left: 0.1rem solid $light-gray;
}

.search-top {
  display: inline;
}

#footer {
  background-image: $topbar-submenu-grad;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid $light-gray;
}

#footer a:not(:first-child)::before{
  content: " | ";
}

.top-bar{
  background-image: $topbar-submenu-grad;
}