<div class="jumbotron">
  <h2>Welcome to Dreadnought Hangar!</h2>
  <p class="lead">We are currently looking for someone to do the site design. 
  If you are interested contact Wobbley on Reddit or on e-mail: contact@dreadnoughthangar.com</p>
</div>
